---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(to right, #412361, #9b1c4d);
}

.main-content {
  h1, h2, h3, h3, h5, h6 {
    color: #412361;
    a {
        color: inherit;
    }
  }
}
